<!-- Modale d'ouverture de booster -->
<div class="modal" id="booster-opening-modal">
    <div class="modal-content booster-modal">
        <div class="modal-header">
            <h3>Ouverture de Booster</h3>
        </div>
        <div class="modal-body">
            <div class="booster-container">
                <div class="booster-image">
                    <img src="/img/booster-pack.png" alt="Booster Pack" id="booster-pack-img">
                </div>
                <button class="btn btn-primary btn-large" id="open-booster-btn">Ouvrir le Booster</button>
            </div>
            
            <div class="cards-reveal hidden">
                <h3>Vos nouvelles cartes :</h3>
                <div class="reveal-cards-container">
                    <!-- Les cartes seront ajoutées ici dynamiquement -->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary hidden" id="continue-btn">Continuer</button>
        </div>
    </div>
</div>