<!-- Autres sections (à développer) -->
<section class="wallet-connected hidden" id="section-shop">
    <%- include('./shop') %>
</section>

<section class="wallet-connected hidden" id="section-marketplace">
    <%- include('./marketplace') %>
</section>

<section class="wallet-connected hidden" id="section-solo">
    <h1>Mode Solo</h1>
    <%- include('./solo-mode') %>
</section>

<section class="wallet-connected hidden" id="section-battles">
    <%- include('./bataille') %>
</section>